[Unit]
Description=GENIVI Demo Platform HMI - Controller
Requires=dbus.service
After=weston.service
Wants=gdp-hmi-panel.service

[Service]
Environment=XDG_RUNTIME_DIR=/tmp
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/tmp/dbus/user_bus_socket
ExecStart=/usr/bin/gdp-hmi-controller
Restart=always
RestartSec=2
TimeoutStopSec=1
