[Unit]
Description=Weston reference Wayland compositor
After=dbus.service rc.pvr.service

[Service]
Environment=XDG_RUNTIME_DIR=/tmp
ExecStart=/usr/bin/weston --idle-time=4294967
Type=notify
NotifyAccess=all
StandardInput=tty-force
TTYPath=/dev/tty2
Restart=always
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
