[Unit]
Description=Genivi AudioManager PoC
Requires=pulseaudio.service AudioManager.service

[Service]
Environment=DBUS_FATAL_WARNINGS=0
Environment=LD_PRELOAD=/usr/lib/libEGL.so
Environment=XDG_RUNTIME_DIR=/tmp
ExecStart=/usr/bin/AudioManagerMonitor
