[Unit]
Description=GENIVI Demo Platform HMI - Launcher
Requires=gdp-hmi-controller.service gdp-hmi-background.service gdp-hmi-panel.service

[Service]
Environment=LD_PRELOAD=/usr/lib/libEGL.so
Environment=XDG_RUNTIME_DIR=/tmp
ExecStart=/usr/bin/gdp-hmi-launcher
